<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Consulta Médica</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://cdn.tailwindcss.com"></script>
    <title>Probando</title>
  </head>
  <body>
    <!-- Funcion Imprimir PDF -->

    <style type="text/css">
      @media print {
        #printbtn {
          display: none;
        }
        .print-section {
          width: 800px;
        }
      }
    </style>

    <!-- <input class="hover:bg-blue-900 justify-between items-center mt-4 ml-5 px-2 py-1 border border-transparent ring-offset-1 ring-1 text-base font-medium rounded-md shadow-sm bg-white hover:bg-indigo-50 sm:px-8" aria-hidden="true" id ="printbtn" type="button" value="Imprimir Consulta" onclick="window.print();" > <br> -->

    <!-- Imprime el logo -->

    <div class="relative bg-white">
      <div class="flex items-center justify-center min-h-fit bg-gray-100">
        <div
          class="px-8 py-6 mx-4 mt-4 text-left bg-white shadow-2xl md:w-2/3 lg:w-2/3 sm:w-2/3 print-section"
        >
          <div class="flex justify-between">
            <img
              class="relative h-8 w-auto sm:h-16"
              src="https://raw.githubusercontent.com/josemlegal/Medical-Assistant/ramaGallo/static/images/logo8.png"
              alt=""
            />
            <h3 class="text-2xl font-bold text-center self-center">
              Consulta Médica
            </h3>
          </div>

          <form action="/create-task" method="POST">
            <div class="mt-4">
              <div>
                <label class="block font-bold" for="nombre">Nombre</label>
                <h1
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                >
                  {{ consulta.nombre }}
                </h1>
              </div>

              <div>
                <label class="block font-bold" for="nombre">Apellido</label>
                <h1
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                >
                  {{ consulta.apellido }}
                </h1>
              </div>

              <div>
                <label class="block font-bold" for="nombre"
                  >Ciudad de Origen</label
                >
                <h1
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                >
                  {{ consulta.ciudad }}
                </h1>
              </div>

              <div>
                <label class="block font-bold" for="nombre">Correo</label>
                <h1
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                >
                  {{ consulta.correo }}
                </h1>
              </div>

              <div>
                <label class="block font-bold" for="nombre">Fecha</label>
                <h1
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                >
                  {{ consulta.fecha }}
                </h1>
              </div>

              <div>
                <label class="block font-bold" for="nombre"
                  >Motivo de Consulta</label
                >
                <h1
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                >
                  {{ consulta.motivo_de_consulta }}
                </h1>
              </div>

              <div>
                <label class="block font-bold" for="nombre">Diagnóstico</label>
                <h1
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                >
                  {{ consulta.diagnostico }}
                </h1>
              </div>

              <div>
                <label class="block font-bold" for="nombre"
                  >Indicaciones Generales</label
                >
                <h1
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                >
                  {{ consulta.indicaciones }}
                </h1>
              </div>

              <div>
                <label class="block font-bold" for="nombre">Receta 1</label>
                <h1
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                >
                  {{ consulta.receta_1 }}
                </h1>
              </div>

              <div>
                <label class="block font-bold" for="nombre">Receta 2</label>
                <h1
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                >
                  {{ consulta.receta_2 }}
                </h1>
              </div>
            </div>
          </form>
          <div
            class="ml-40 mr-40 text-center text-xl font-bold group [transform:translateZ(0)] px-5 py-30 rounded-lg overflow-hidden bg-gray-200 relative before:absolute before:bg-sky-600 before:top-10 before:left-20 before:h-8 before:w-8 before:-translate-y-10 before:-translate-x-20 before:rounded-full before:scale-[100] before:opacity-0 hover:before:scale-[100] hover:before:opacity-100 before:transition before:ease-in-out before:duration-500"
            onclick="window.print();"
            id="printbtn"
          >
            <span
              class="relative z-10 text-black group-hover:text-gray-100 transition ease-in-out duration-500"
              >Imprimir Consulta</span
            >
          </div>

          <div class="mt-0"></div>
        </div>
      </div>
    </div>
  </body>
</html>
