<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quienes somos</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="bg-white">
    <header>
    <div class="relative bg-white">
      <div class="flex justify-between items-center max-w-7xl mx-auto px-4 py-4 sm:px-6 md:justify-start md:space-x-10 lg:px-8">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="/">
            <span class="sr-only">Workflow</span>
            <img class="w-[150px]" src="../static/images/logo4.png" alt="">
          </a>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
          <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
            <span class="sr-only">Open menu</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
        <nav class="hidden md:flex space-x-10">
          <div class="relative">

          
          </div>

          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900"> ¿Quiénes somos? </a>
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900"> Contacto </a>
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900"> Testimonios </a>
        </nav>
        <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
          <a href= registraciondoc class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900"> Registrarse </a>
          <a href=login class="ml-8 whitespace-nowrap inline-flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:from-purple-700 hover:to-indigo-700"> Ya tengo cuenta </a>
        </div>
      </div>


    
    </div>

  </div>
  </div>
  </div>
  </div>
  </header>

  <main>
    <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
        <div class="absolute inset-0">
          <img class="h-full w-full object-cover"
            src="https://imageio.forbes.com/specials-images/imageserve/5dbb4182d85e3000078fddae/0x0.jpg?format=jpg&width=1200"
            alt="imagen de iconos tech medical">
          <div class="absolute inset-0 bg-gradient-to-r from-purple-700 to-indigo-600 mix-blend-multiply"></div>
        </div>
        <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
          <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
            <span class="block text-white">¿Quiénes</span>
            <span class="block text-indigo-200">somos?</span>
            <h1 class="font-semibold text-xl mt-7 sm:justify-center text-white text-center">Somos una startup que busca digitalizar el historial médico de manera a que los pacientes puedan <br> realizar un seguimiento a los tratamientos indicados.
            </h1>
          </h1>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>