<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info de Paciente</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <body>
        <div class="bg-white">
          <header>
            <div class="relative bg-white">
              <div class="flex justify-between items-center max-w-7xl mx-auto px-4 py-6 sm:px-6 md:justify-start md:space-x-10 lg:px-8">
                <div class="flex justify-start lg:w-0 lg:flex-1">
                  <a href="/">
                    <span class="sr-only">Workflow</span>
                    <img class="w-[150px]" src="../static/images/logo4.png" alt="">
                  </a>
                </div>
                <div class="-mr-2 -my-2 md:hidden">
                  <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                  </button>
                </div>
                <nav class="hidden md:flex space-x-10">
                  <div class="relative">
                  </div>
               
              </div>
              <div class="absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
                <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
                  <div class="pt-5 pb-6 px-5">
                    <div class="flex items-center justify-between">
                      <div>
                        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-purple-600-to-indigo-600.svg" alt="Workflow">
                      </div>
                 </div>
                    
                  
                  </div>
                </div>
              </div>
            </div>
          </header>
        
          <main>
            <div class="relative">
              <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
              <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
                  <div class="absolute inset-0">
                    <img class="h-full w-full object-cover" src="https://www.medicasur.com.mx/work/models/ms/Resource/9899/1/images/fondoMedicoGood.png" alt="Doctor robot y paciente">
                    <div class="absolute inset-0 bg-gradient-to-r from-purple-700 to-indigo-600 mix-blend-multiply"></div>
                  </div>
                  <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                      <span class="block text-white">Seleccioná tu</span>
                      <span class="block text-indigo-200">consulta {{ consultas[0].nombre }}.</span>
                    </h1>
                    <form action="{{ url_for('cargado') }}" method="POST">
                      <div class="mt-4">
                          <div>





















                            






                              <div class=" flex gap-8 text-center p-20 pt-0 flex-col items-center xl:flex-row">
                                {% for consulta in consultas %}
                                
                                <div class="bg-white w-[250px] h-[130px] rounded overflow-hidden shadow-lg mx-auto items-center xl:h-[130px]">
                                    
                                  <div class="px-6 py-4 w-[250px] h-[130px] items-center  xl:h-[130px]">
                                    <a href="{{ url_for('detalle_consulta', consulta_id=consulta.id) }}" class="font-bold text-xl mb-2">{{ consulta.fecha }}</a>
                                    <p class="text-gray-700 text-base">
                                      Motivo: {{ consulta.motivo_de_consulta }}
                                    </p>
                                  </div>
                                </div>
                              
                                {% endfor %}
                                
                              </div>






























                              <div class="flex justify-center">
                                
                                
                                
                              </div>
                            </form>
                            <a href="{{ url_for('paciente') }}" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-indigo-700 bg-white hover:bg-indigo-50 sm:px-8 mx-auto w-[150px]"> Volver </a>
                            </div>
                    <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                      <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</body>
</html>